<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DOCKAutomation.View.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PageSize" value="20" />
    <add key="DockAutomationExeName" value="DockWorker" />
    <!--for production set TestMode to false-->
    <!--<add key="TestMode" value="true" />-->
    <add key="HelpDeskNo" value="804-353-1900 X 2260" />
    <add key="ProdDataSource" value="CDOCP1" />
    <!-- Set "AutoDeploy" to NO in dev and YES before deployment. -->


    <add key="AutoDeploy" value="YES" />

    <!-- LOCAL  
<add key="HttpUrl" value="http://crsdock-test-pc/DockAutomation/DockWorker/Appcast.xml" />
-->

<!-- QA 
<add key="HttpUrl" value="http://qa.crossdock.estesinternal.com/DockAutomation-QA/eDock/Appcast.xml" />
-->

<!--PROD -->
<add key="HttpUrl" value="http://crossdock.estesinternal.com/eDock/Appcast.xml" />



<add key="IBMiSeriesDir" value="C:\ProgramData\Microsoft\Windows\Start Menu\Programs\IBM i Access for Windows" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!-- 
    
    <add name="DOCKAutomationConnection" connectionString="DataSource=DEVELOPDR;UserID=FMAWIN;Password=dock;LibraryList=ZFMADATA,TFMAPGM,edpsuxg;"/>
-->
    
    <!--Development 
    <add name="DOCKAutomationConnection" connectionString="DataSource=DEVELOPDR;UserID=FMAWINT;Password=dock;LibraryList=XFMADATA,TFMAPGM,LIBHTTP,YAJL,edpsuxg;" />
    <add name="EXLAConnection" connectionString="DataSource=EXLADR;UserID=FMAWINTAB;Password=dock;LibraryList=FBFILES,FBPGMS,edpsuxg;"/>
-->
    <!-- QA  
<add name="DOCKAutomationConnection" connectionString="DataSource=CDOCQA;UserID=FMAWIN;Password=dock;LibraryList=FMADATA,FMAPGM,edpsuxg,LIBHTTP,YAJL;"/>
<add name="EXLAConnection" connectionString="DataSource=EXLAQA;UserID=FMAWINTAB;Password=dock;LibraryList=FBFILES,FBPGMS,edpsuxg;"/>
-->

<!-- Prod -->
<add name="DOCKAutomationConnection" connectionString="DataSource=CDOCP1;UserID=FMAWIN;Password=dock;LibraryList=FMADATA,FMAPGM,edpsuxg,LIBHTTP,YAJL;"/>
<add name="EXLAConnection" connectionString="DataSource=EXLA;UserID=FMAWINTAB;Password=dock;LibraryList=FBFILES,FBPGMS,edpsuxg;"/>

</connectionStrings>
  <userSettings>
    <DOCKAutomation.View.Properties.Settings>
      <setting name="ToolStripColor" serializeAs="String">
        <value>LightSteelBlue</value>
      </setting>
      <setting name="BillGridRowHeight" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="HeaderAndLabelColor" serializeAs="String">
        <value>LightSteelBlue</value>
      </setting>
      <setting name="MovesGridRowHeight" serializeAs="String">
        <value>55</value>
      </setting>
      <setting name="FreightGridRowHeightSmall" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="FreightGridRowHeightLarge" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="FreightArrowLabelBackColorSelected" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="FreightArrowLabelBackColorUnSelected" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="ManifestGridRowHeightSmall" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ManifestGridRowHeightLarge" serializeAs="String">
        <value>45</value>
      </setting>
      <setting name="UserControlButtonColor" serializeAs="String">
        <value>PaleGoldenrod</value>
      </setting>
      <setting name="FreightGridRowHeightEx" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="SpBayGridRowHeight" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="keyingWaitingTime" serializeAs="String">
        <value>5</value>
      </setting>
    </DOCKAutomation.View.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>